@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 14px;
  background-color: #cccccc;
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #666666;
  border-radius: 9em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}
/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}
#main {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  display: flex;
}
#app {
  width: 100%;
  height: 100%;
}
.lists {
  position: relative;
  width: 35%;
  height: 100%;
  border: 1px solid;
  border-radius: 15px 0 0 15px;
}
.todos {
  position: relative;
  width: 65%;
  height: 100%;
  background-color: rgb(179, 179, 197);
  border: 1px solid;
  border-radius: 0 15px 15px 0;
}
.dropdown__button {
  width: 95%;
  margin-top: 10px;
}
.dropdown__body {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.dropdown__menu {
  width: 95%;
}
.list__body {
  width: 95%;
  margin: 0 auto;
  max-height: 60%;
  min-height: 30%;
  overflow-y: auto;
}
.list__main {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.list__item {
  display: flex;
  width: 100%;
  padding: 1px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
}
.list__li {
  width: 100%;
}
.btn__delete {
  margin: 10px;
}
.lists__add {
  position: absolute;
  margin: 10px;
  height: 17%;
  bottom: 0;
  width: 95%;
}
form {
  border-top: 2px solid;
  padding: 5px;
}
.form__button {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}
.selected {
  border-left: 7px #330066 solid;
}
h2 {
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid;
}
.todos__todos {
  width: 95%;
  margin: 0 auto;
  flex: auto;
  overflow-y: auto;
  max-height: 60%;
  min-height: 30%;
}
.todos__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.todos__item_text {
  margin-left: 13px;
  width: 70%;
}
.todos__item_date {
  margin-left: 13px;
  width: 30%;
  display: flex;
}
.date {
  margin-left: 5px;
  margin-right: 5px;
}
.green {
  background-color: #00ff7f;
}
.pale_gray {
  background-color: #d7d7d7;
}
#modal_window {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  opacity: 1;
}
.modal__body {
  z-index: 150;
}
.form {
  width: 400px;
  margin: 0 auto;
}
.form__title {
  text-align: center;
}
.form__input {
  margin: 10px;
}
a {
  margin: 10px;
}
.user {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 10px;
}
h6 {
  margin-right: 10px;
}
